*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: black !important;
    margin: 0;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.scroll-to-top{
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    animation: fadeIn 1700ms ease-in-out 1s both;
    cursor: pointer;
}

a:hover{
    color: white !important;
}

.titulo{
    font-size: 40px;
}

.titulo2{
    font-size: 30px;
}

ul{
    margin-bottom: 0px !important;
}

.img-header{
    width: 30%;
}


@media screen and (max-width: 900px){
    .titulo{
        font-size: 30px;
    }

    .titulo2{
        font-size: 20px;
    }

    .footer-container *{
        text-align: left;
    }

    .img-header{
        width: 20%;
    }
}


